[Package]
version: 1
depends: 

[Product]
type: localboot
id: bios-update-a555-124
name: Bios Update A555
description: Package to Update Bios on A555 to 1.24 (battery nag screen)
advice: 
version: 124
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

