[Package]
version: 1
depends: 

[Product]
type: localboot
id: bios-update-a514-209
name: Bios Update A514
description: Package to Update Bios on A514 to 209 (battery nag screen)
advice: 
version: 209
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

